HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.junie
.qoder
.gemini
.claude
.qwen
.serena
.cursor
QWEN.md
GEMINI.md
CLAUDE.md
WARP.md
AGENTS.md
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.github/**/*.md
.env*
./memory
./scripts
./templates
.playwright-mcp
.specify
aiagent
### Node.js ###
node_modules/
./database_backup/keycloak_db.sql